body {
    color : rgb(34, 35, 37);
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    padding : 0;
    margin: 0;
}
.container {
    width:70%;
    padding : 1em;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}